# Lecture 3A - Apply & Map, Misc

# Table of Contents
* [Lecture 3A - Apply & Map, Misc](#Lecture-3A---Apply-&-Map,-Misc)
	* &nbsp;
		* [Content](#Content)
		* [Learning Outcomes](#Learning-Outcomes)
	* [1. Functions and Dataframes - Using *apply()* and *applymap()*](#1.-Functions-and-Dataframes---Using-*apply%28%29*-and-*applymap%28%29*)
		* [Functions along an axis](#Functions-along-an-axis)
		* [Functions applied element-wise](#Functions-applied-element-wise)
	* [Dummy Variables](#Dummy-Variables)
	* [2. Removing Duplicates](#2.-Removing-Duplicates)
	* [3. Transpose](#3.-Transpose)
	* [4. Shift operations](#4.-Shift-operations)

---

### Content

1. Applying functions to dataframes
2. Removing duplicates
3. Re-shaping dataframes with transpose
4. Shift operations for time series

### Learning Outcomes

At the end of this lecture, you should be able to:

* apply functions to dataframes
* remove duplicate rows in dataframes
* transpose dataframes
* apply shift operations to dataframes for time series data


---

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from pylab import rcParams

%matplotlib inline

In [9]:
# Set some Pandas options as you like
pd.set_option('html', True)
pd.set_option('max_columns', 30)
pd.set_option('max_rows', 30)

OptionError: 'Pattern matched multiple keys'

In [10]:
rcParams['figure.figsize'] = 15, 10
rcParams['font.size'] = 20

## 1. Functions and Dataframes - Using *apply()* and *applymap()*

Built-in or user-defines functions can be applied along the entire axes of a dataframe.

To apply a function to an entire axis (or multiple axes) of a dataframe, we resort to the apply() method, which can take an optional axis argument to determine if the axis is vertical/column-wise (0) or horizontal/row-wise (1).

### Functions along an axis

In [11]:
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
                'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
                'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

df = df[['one','two','three']]
df

        one       two     three
a -0.573728  0.168971       NaN
b  0.088760  0.394099 -1.187847
c -1.033031  1.038217 -1.779519
d       NaN -0.051218 -0.016920

Below is an example of applying a built in sum function

In [ ]:
df.apply(np.sum, axis=0)

**Exercise**: Apply the mean function to the above dataframe in a row-wise manner.

**Exercise**: Apply the sum function to columns 'one' and 'two' only in a row-wise manner, and assign the result to a new column in the dataframe called 'four'.

**Exercise**: Replace the missing value in both columns with the row-wise mean value.

**Exercise**: Calculate the column-wise product for the first and third columns only.

**Exercise**: Write a function which calculates the sum of a vector and then returns the square of the sum. Once you have done this, apply your function to the dataframe in a row-wise manner, whilst creating a new column 'five', to which you will add insert the result.

In [ ]:
def square_of_summed_vector(x):

### Functions applied element-wise

The apply() method produces some form of aggregate calculations on the axes of a dataframe.  applymap() on the other hand extends us the flexibility of applying functions which manipulate single elements in a dataframe.

Say we would like to define a function which returns 'pos' for a positive number and alternatively 'neg'

In [ ]:
def pos_neg_to_string(x):
    if x >= 0:
        return 'pos'
    else: return 'neg'

We can apply this to our dataframe as follows:

In [ ]:
df.applymap(pos_neg_to_string)

Having the ability to apply element-wise operations on dataframes is extremely useful when it comes to dataset cleaning and transformations.

Let's take a look at a sample from a real-world dataset used for gathering results from a survey:

In [ ]:
assig = pd.read_csv("../datasets/surveySample.csv")
assig.head()

In [ ]:
assig.OCCUPATION_M.head(20)

Clearly the values in this column need to be cleaned up.

Let's first find out what all the unique values are in this dataset.

In [ ]:
assig.OCCUPATION_M.unique()

We can now write a function that removes the first 3 characters in each entry in order to tidy the values.

In [ ]:
def remove_first_three_chars(x):
    return x.replace(x[:3], '')

In [ ]:
assig[['OCCUPATION_M']].applymap(remove_first_three_chars)

In order to make the change permanent, we need to assign the result to the dataframe:

In [ ]:
assig['OCCUPATION_M'] = assig[['OCCUPATION_M']].applymap(remove_first_three_chars)

## Dummy Variables

A dummy variable is a numerical variable used in data analysis to represent subgroups of the sample in under study. 

In research design, a dummy variable is often used to distinguish different treatment groups. This is accomplished by taking distinct values from a column and creating new columns out of them which are populated with 0 or 1 in order to indicate whether or not the particular data point belongs to this. 

This is a frequent operation that can be easily in Python.

In [ ]:
assig['OCCUPATION_M'].str.get_dummies()

We can also specify if there are multiple values within some cells that should be treated as separate columns. In this example we will say that the forward slash indicates a distinct value for which we would like to generate a column for.

In [ ]:
assig['OCCUPATION_M'].str.get_dummies('/')

**Exercise:** From the assignment dataset, consider the column 'supermarket spend in a week'. The '\$' character can cause issues in some applications. We want to clean up this column in such a way that the first 3 characters are replaced as well as the '\$' character, and we also want to change entries with 'No Answer' to reflect that they are actually missing values so replace them with np.NaN. Write a function to do this and apply this function to this column.

Verify that your code works.

In [ ]:
assig['supermarket spend in a week'].unique()

In [ ]:
def clean_up_supermarket_spend(x):

## 2. Removing Duplicates

Duplicate rows may be naturally occurring in some datasets or they might arise from input errors. In many instances, like machine learning, these duplicate entries need to be removed from the datasets. 

Dataframes provide straightforward functionality to remove such records.

Here is an example:

In [ ]:
df = pd.DataFrame({'c1': ['one'] * 3 + ['two'] * 4,
                  'c2': [1, 1, 2, 3, 3, 4, 4]})
df

`drop_duplicates` returns a DataFrame where the duplicated rows **across all columns** are dropped:

In [ ]:
df.drop_duplicates()

We can also pass a particular column we  would like the duplicates removed from. Let's first make a change to the dataframe:

In [ ]:
df.ix[1, 'c1'] = 'five'
df

In [ ]:
df.drop_duplicates(['c2'])

Notice that `drop_duplicates` by default keep the first observed value combination.

## 3. Transpose

Transposing is a special form of reshaping tabular data in such a way that the rows become columns and likewise the columns become rows.

In [ ]:
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
                'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
                'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

df = df[['one','two','three']]
df

Transpose of a dataframe can be accomplished using either the transpose() method call  or simple .T

In [ ]:
df.T

Transpose operations are not permanent unless you re-assign the result back tothe original dataframe.

In [ ]:
df

**Exercise:** Slice and select out a dataframe with rows 'c' and 'd' and columns 'one' and 'two', then execute a transpose.

## 4. Shift operations

“Shifting” refers to moving data backward and forward through time. Both Series and
DataFrame have a  shift method for performing this operation.

The dataset below shows the inflation adjusted price of crude oil per barrel from 1948 to 2015 (as of 24/03/2015) and is partially sourced from http://inflationdata.com/Inflation/Inflation_Rate/Historical_Oil_Prices_Table.asp

In [ ]:
oil_price = pd.DataFrame(np.array([[ 1947.  ,    22.81],
       [ 1948.  ,    27.21],
       [ 1949.  ,    27.48],
       [ 1950.  ,    27.19],
       [ 1951.  ,    25.2 ],
       [ 1952.  ,    24.64],
       [ 1953.  ,    25.72],
       [ 1954.  ,    26.3 ],
       [ 1955.  ,    25.8 ],
       [ 1956.  ,    25.56],
       [ 1957.  ,    26.38],
       [ 1958.  ,    24.55],
       [ 1959.  ,    24.3 ],
       [ 1960.  ,    23.26],
       [ 1961.  ,    22.52],
       [ 1962.  ,    22.25],
       [ 1963.  ,    22.46],
       [ 1964.  ,    22.84],
       [ 1965.  ,    22.55],
       [ 1966.  ,    22.56],
       [ 1967.  ,    22.09],
       [ 1968.  ,    21.56],
       [ 1969.  ,    21.38],
       [ 1970.  ,    20.63],
       [ 1971.  ,    21.  ],
       [ 1972.  ,    20.33],
       [ 1973.  ,    25.06],
       [ 1974.  ,    44.71],
       [ 1975.  ,    53.55],
       [ 1976.  ,    54.37],
       [ 1977.  ,    56.08],
       [ 1978.  ,    54.16],
       [ 1979.  ,    80.9 ],
       [ 1980.  ,   107.37],
       [ 1981.  ,    92.98],
       [ 1982.  ,    77.95],
       [ 1983.  ,    68.97],
       [ 1984.  ,    65.37],
       [ 1985.  ,    59.1 ],
       [ 1986.  ,    31.1 ],
       [ 1987.  ,    36.89],
       [ 1988.  ,    29.73],
       [ 1989.  ,    34.91],
       [ 1990.  ,    41.79],
       [ 1991.  ,    35.03],
       [ 1992.  ,    32.4 ],
       [ 1993.  ,    27.39],
       [ 1994.  ,    24.94],
       [ 1995.  ,    25.96],
       [ 1996.  ,    30.79],
       [ 1997.  ,    27.43],
       [ 1998.  ,    17.26],
       [ 1999.  ,    23.42],
       [ 2000.  ,    37.55],
       [ 2001.  ,    30.69],
       [ 2002.  ,    29.92],
       [ 2003.  ,    35.55],
       [ 2004.  ,    47.05],
       [ 2005.  ,    60.45],
       [ 2006.  ,    68.28],
       [ 2007.  ,    72.99],
       [ 2008.  ,   100.01],
       [ 2009.  ,    58.76],
       [ 2010.  ,    77.11],
       [ 2011.  ,    91.39],
       [ 2012.  ,    88.95],
       [ 2013.  ,    92.41],
       [ 2014.  ,    89.08],
       [ 2015.  ,    47.05]]), columns=['Year','InflationAdjustedPrice'])

oil_price

If we wanted to calculate the difference in oil price from one year to the next (something very common in time series analysis), then pandas provides for us a method called shift(), which allows us to select a column and move the data in it up or down by a given amount. 

In our case, we want to see the difference between the values in price from one year to the next so we will shift the columns by one.

In [ ]:
oil_price['shifted'] = oil_price.InflationAdjustedPrice.shift(1)
oil_price

**Exercise**: Plot the positive and negative fluctuations of the oil price from year to year for the above dataset.

In [ ]:
%%javascript
require(['base/js/utils'],
function(utils) {
   utils.load_extensions('calico-spell-check', 'calico-document-tools', 'calico-cell-tools');
});